Source: ~#PKGNAME#~
Maintainer: Nicola Asuni <info@tecnick.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/tecnickcom/wordfreq
Vcs-Git: https://github.com/tecnickcom/wordfreq.git

Package: ~#PKGNAME#~
Provides: wordfreq
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Output the most frequently used words in the input file.
 Parse an input file and return the most frequently used words with 
 their frequency. In this context a word is a continuous sequence 
 of characters from 'a' to 'z'. The words are case-insensitive, 
 so uppercase letters are always mapped in lowercase.
